body {
    background-color: rgb(238, 192, 205);
    background-image: url(/images/background.jpg);
    background-size: 100%;
    /* background-size: 1000px; */
    background-repeat: no-repeat;
}

#carouselControls {
    width: 80%;
    margin-left: 10%;
}

#search-button {
    text-align: center;
}

@media screen and (max-width: 599px) {
    body {
        background-color: rgb(238, 192, 205);
        background-image: url(/images/recipebackground.jpg);
        background-size: 100%;
        /* background-size: 1000px; */
        background-repeat: no-repeat;
    }
}