#center {
    text-align: center;
}

#search-button {
    text-align: center;
    /* background-color:beige; */
}

#header-text {
    color: white;
    text-shadow: 0px 0px 20px black;
    font-size: 80pt;
}


div {
    width: 80%;
    padding-left: auto;
    margin: auto;
}

.card {
    height: 20%;
}

.navbar-custom {
    background-color: #db3b30;
}

#gridLayout {
    display: grid;
    grid-template-rows: 10% 90%;
}

#navbar {
    grid-row: 1;
}

#content {
    grid-row: 2;
}

