#center {
    text-align: center;
}

#search-button {
    text-align: center;
    background-color: beige;
}

#header-text {
    color: white;
    text-shadow: 0px 0px 20px black;
    font-size: 80pt;
}

#width80 {
    width: 80%;
    font-size: 20pt;
    padding-left: auto;
    margin: auto;
}

.card {
    height: 20%;
}

.card-body {
    text-align: right;
}

.content {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto auto;
    border-style: groove;
}
.profilePicture {
    grid-column-start: 1;
    grid-row-start: 1;
}
.postText {
    grid-column-start: 2;
    grid-row-start: 1;
}
.comment {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}