@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@media screen and (max-width: 799px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    #navbar {
        /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
        color: black;
        display: grid;
        grid-template-columns: 15% 15% auto 15% 15%;
    }
    #hamburger {
        display: block;
        width: 100%;
        grid-column: 1;
    }
    img {
        width: 60px;
    }
    #nav-logo {
        grid-column: 5;
        padding-right: 60px;
        width: 50%;
        padding-top: 10px;
    }
    #nav-location {
        display: none;
        visibility: hidden;
        width: 0px;
    }
    #nav-center {
        display: none;
        visibility: hidden;
        width: 0px;
    }
    #nav-center a {
        margin: auto;
    }
    #nav-right {
        display: none;
        visibility: hidden;
        width: 0px;
    }
    #nav-right a {
        margin: auto;
    }
    #nav-search {
        display: none;
        visibility: hidden;
        width: 0px;
    }
    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        color: black;
        text-align: center;
        width: 100%;
        font-size: 10pt;
    }
}

@media screen and (min-width: 800px) {
    #navbar {
        /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
        color: black;
        display: grid;
        grid-template-columns: 5% 5% 20% 40% 15% 15%;
        box-shadow: 1px 1px 10px black;
    }
    #hamburger {
        display: none;
        /* width: 0px; */
        grid-column: 1;
    }
    #nav-logo {
        grid-column: 2;
        margin: auto;
    }
    #nav-location {
        grid-column: 3;
        width: 20vw;
        font-size: 2vw;
        margin: auto;
    }
    #nav-center {
        grid-column: 4;
        display: grid;
        grid-template-columns: auto 4vw 4vw 4vw 4vw auto;
    }
    #nav-center a {
        margin: auto;
    }
    #nav-right {
        grid-column: 5;
        display: grid;
        grid-template-columns: auto 4vw 4vw 4vw auto;
    }
    #nav-right a {
        margin: auto;
    }
    #nav-search {
        grid-column: 6;
    }
    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        color: black;
        text-align: center;
        width: 100%;
        font-size: 10pt;
    }
    img {
        width: 60%;
    }
}