@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@media screen and (max-width: 799px) {
    #navbar {
        /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
        color: black;
        display: grid;
        grid-template-columns: 5% 5% auto 5% 5%;
    }
    #hamburger {
        display: block;
        width: 100px;
        grid-column-start: 2;
    }
    #nav-logo {
        grid-column-start: 4;
        /* margin: auto; */
        width: 80px;
        padding-top: 10px;
    }
    #nav-location {
        display: none;
        visibility: hidden;
    }
    #nav-center {
        display: none;
        visibility: hidden;
    }
    #nav-center a {
        margin: auto;
    }
    #nav-right {
        display: none;
        visibility: hidden;
    }
    #nav-right a {
        margin: auto;
    }
    #nav-search {
        display: none;
        visibility: hidden;
    }
    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        color: black;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #navbar {
        /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
        color: black;
        display: grid;
        grid-template-columns: 5% 5% 20% 40% 15% 15%;
    }
    #hamburger {
        display: none;
        width: 0px;
        grid-column-start: 1;
    }
    #nav-logo {
        grid-column-start: 2;
        margin: auto;
    }
    #nav-location {
        grid-column-start: 3;
        width: 20vw;
        font-size: 2vw;
        margin: auto;
    }
    #nav-center {
        grid-column-start: 4;
        display: grid;
        grid-template-columns: auto 4vw 4vw 4vw 4vw auto;
    }
    #nav-center a {
        margin: auto;
    }
    #nav-right {
        grid-column-start: 5;
        display: grid;
        grid-template-columns: auto 4vw 4vw 4vw auto;
    }
    #nav-right a {
        margin: auto;
    }
    #nav-search {
        grid-column-start: 6;
    }
    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        color: black;
        text-align: center;
        width: 100%;
    }
}

img {
    width: 70%;
}