body {
    background-image: linear-gradient(to right, white, #5068d4);
    background-size: 150% 150%;
    font-family: 'Bebas Neue', cursive;
}

#main {
    margin: 0% 20%;
}

#title {
    font-size: 30pt;
}

.menu-card {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.menu-name {
    grid-row-start: 1;
    grid-column-start: 1;
}

.menu-price {
    grid-row-start: 1;
    grid-column-start: 2;
}

.menu-description {
    grid-row-start: 2;
    grid-column-start: 1;
}

.minus {
    grid-row-start: 2;
    grid-column-start: 2;
}

button {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #cccccc;
    /* Green */
    font-size: 25px;
    border-radius: 50%;
}

button:hover {
    background-color: #d45050;
    /* Green */
    color: white;
}