#main{
    margin-left: 10%;
    margin-right: 10%;
}
.menu-card{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
}
.menu-name{
    grid-row-start: 1;
    grid-column-start: 1;
}
.menu-price{
    grid-row-start: 1;
    grid-column-start: 2;
}
.menu-description{
    grid-row-start: 2;
    grid-column-start: 1;

}
.minus{
    grid-row-start: 2;
    grid-column-start: 2;
}
