body {
    background: linear-gradient(-45deg, rgb(238, 155, 155), #fbc6c6, hsl(217, 100%, 87%), #e2e2e2);
    background-size: 900% 900%;
    animation: gradient 10s ease infinite;
    font-family: 'Bebas Neue', cursive;
    background-repeat: no-repeat;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#main {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

#form1 {
    grid-row-start: 1;
    width: auto
}

#main button {
    grid-row-start: 2;
}

.input-box {
    width: 80vw;
    border-radius: .25rem;
}